.contact-card {
    background-color: #f3ebb8;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.contact-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f4e27e;
    margin-right: 40px;
    flex-direction: column;
    margin: 0 auto;
}
.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
